/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Monda:wght@700&family=Montserrat:wght@400;600&display=swap');

/* Variáveis de cores e fontes */
:root {
  --cor-fonte-primaria: #f6f6f6;
  --cor-fonte-quaternaria: #b2b1b9;
  --cor-fonte-secundaria: #a524e9;
  --cor-fonte-terciaria: #767579;

  --cor-fundo-hover: #272727;
  --cor-fundo-primaria: #000000;
  --cor-fundo-secundaria: #f6f6f6;
  --cor-fundo-terciaria: #7c7c7c;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
  --fonte-terciaria: 'Monda', sans-serif;
}

/* Reset de margens e preenchimentos */
* {
  margin: 0px;
  padding: 0px;
}

/* Estilos do corpo da página */
body {
  background-color: var(--cor-fundo-primaria);
  box-sizing: border-box;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
}

/*------- Cabeçalho de Navegação -------*/

.cabecalho {
  padding: 2% 5% 2% 0%;
}

.cabecalho__lista_nav {
  display: flex;
  justify-content: flex-end;
  gap: 2.8125em;
  list-style-type: none;
}

.cabecalho__lista_nav a {
  text-decoration: none;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
}

.cabecalho__lista_nav a:hover,
.destacar_texto,
.lista_nav__selecionada {
  color: var(--cor-fonte-secundaria) !important;
}

/*-------------- Conteudo -------------*/

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
  gap: 3em;
}

.conteudo__descricao {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.conteudo__img_intro {
  width: 35%;
}

.conteudo__introducao {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  justify-content: center;
  width: 40%;
}

.conteudo__navegacoes {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.conteudo__subtitulo {
  font-size: 1.5rem;
  font-weight: 400;
}

.conteudo__titulo {
  font-size: 2.25rem;
  font-weight: 700;
}

.navegacoes_nav {
  align-items: center;
  border: 1px solid var(--cor-fonte-secundaria);
  border-radius: 5px;
  color: var(--cor-fonte-primaria);
  display: flex;
  font-family: var(--fonte-terciaria);
  font-size: 1rem;
  font-weight: 700;
  gap: 0.2em;
  justify-content: center;
  padding: 0.7em 1rem;
  text-decoration: none;
  width: 50%;
}

.navegacoes_nav:hover {
  background-color: var(--cor-fundo-hover);
}

.navegacoes_nav__img {
  width: 30px;
}

/*-------------- Rodape -------------*/

.rodape {
  width: 100%;
  background-color: var(--cor-fonte-primaria);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--cor-fonte-terciaria);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--fonte-terciaria);
}

.rodape__img_social {
  width: 50px;
}

.rodape__sessao {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.rodape__sessao_info {
  gap: 0.5em;
}

.info_links {
  margin-left: 4%;
}

.info_links li {
  margin-left: 15%;
}

.info_links li a {
  color: var(--cor-fonte-terciaria);
  text-decoration: none;
  font-size: 0.9rem;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
}

.info_links li a:hover {
  color: var(--cor-fonte-secundaria);
}

.info__telefone,
.info__email {
  display: flex;
  text-align: center;
  align-items: center;
}

.rodape__sessao_termos {
  text-align: center;
}

.termos__copyright {
  opacity: 50%;
}

.rodape__sessao_contate {
  gap: 7px;
}

.contate__input {
  border: 0 none;
  outline: 0;
  border-radius: 7px;
  background-color: var(--cor-fonte-terciaria);
  padding: 6px 10px 6px 15px;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-terciaria);
  font-size: 1rem;
  line-height: 50%;
}

.contate__textarea::placeholder,
.contate__input::placeholder {
  color: var(--cor-fonte-primaria);
  opacity: 70%;
}

.contate__textarea {
  border: 0 none;
  outline: 0;
  border-radius: 7px;
  background-color: var(--cor-fonte-terciaria);
  padding: 6px 10px 6px 15px;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-terciaria);
  font-size: 1rem;
  resize: none;
}

.contate__enviar {
  border: 0 none;
  outline: 0;
  width: 45%;
  padding: 5px 14px;
  background: var(--cor-fonte-secundaria);
  border-radius: 7px;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-terciaria);
  font-size: 1rem;
  margin-left: 55%;
  cursor: pointer;
}

.contate__input:hover,
.contate__textarea:hover,
.contate__enviar:hover {
  opacity: 80%;
}
