/* ============ GLOBAL CONFIGS ============ */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Monda:wght@700&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-fonte-primaria: #f6f6f6;
  --cor-fonte-quaternaria: #b2b1b9;
  --cor-fonte-secundaria: #a524e9;
  --cor-fonte-terciaria: #767579;

  --cor-fundo-hover: #272727;
  --cor-fundo-primaria: #000000;
  --cor-fundo-secundaria: #f6f6f6;
  --cor-fundo-terciaria: #7c7c7c;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
  --fonte-terciaria: 'Monda', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor-fundo-primaria);
  box-sizing: border-box;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
}

.destacar_texto {
  color: var(--cor-fonte-secundaria) !important;
}

/* ============ CABEÇALHO ============ */
.cabecalho {
  padding: 2% 5% 2% 0%;
}

.cabecalho__navegacoes {
  display: flex;
  justify-content: flex-end;
  gap: 2.8125em;
  list-style-type: none;
}

.cabecalho__navegacoes li a {
  text-decoration: none;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
}

.cabecalho__navegacoes li a:hover {
  color: var(--cor-fonte-secundaria);
}

/* ============ CONTEÚDO ============ */
.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
  gap: 3em;
}

.conteudo__introducao {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  justify-content: center;
  width: 40%;
}

.conteudo__introducao__titulo {
  font-size: 2.25rem;
  font-weight: 700;
}

.conteudo__introducao__descricao {
  font-family: var(--fonte-secundaria);
}
.conteudo__introducao__descricao,
.conteudo__introducao__subtitulo {
  font-size: 1.5rem;
  font-weight: 400;
}

.conteudo__introducao__navegacoes {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.conteudo__introducao__navegacoes__nav {
  align-items: center;
  border: 1px solid var(--cor-fonte-secundaria);
  border-radius: 5px;
  color: var(--cor-fonte-primaria);
  display: flex;
  font-family: var(--fonte-terciaria);
  font-size: 1rem;
  font-weight: 700;
  gap: 0.2em;
  justify-content: center;
  padding: 0.7em 1rem;
  text-decoration: none;
  width: 50%;
}

.conteudo__introducao__navegacoes__nav:hover {
  background-color: var(--cor-fundo-hover);
}

.conteudo__introducao__navegacoes__nav__img {
  width: 30px;
}

.conteudo__img_intro {
  width: 35%;
}

/*============ RODAPÉ ============*/
.rodape {
  width: 100%;
  background-color: var(--cor-fonte-primaria);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--cor-fonte-terciaria);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--fonte-terciaria);
}

.rodape__sessoes {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.rodape__imgs {
  width: 50px;
}

/*--> Sessão: 1 - Informações */
.rodape__info {
  gap: 0.5em;
}

.rodape__info__links {
  margin-left: 4%;
}

.rodape__info__links li {
  margin-left: 15%;
}

.rodape__info__links li a {
  color: var(--cor-fonte-terciaria);
  text-decoration: none;
  font-size: 0.9rem;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
}

.rodape__info__links li a:hover {
  color: var(--cor-fonte-secundaria);
}

.rodape__info__tel,
.rodape__info__eml {
  display: flex;
  text-align: center;
  align-items: center;
}

/*--> Sessão: 2 - Termos */
.rodape__termos {
  text-align: center;
}

.rodape__termos__copyright {
  opacity: 50%;
}

/*--> Sessão: 2 - Contate-me */
.rodape__contate {
  gap: 7px;
}

.rodape__contate__email {
  line-height: 50%;
}

.rodape__contate__mensagem {
  resize: none;
}

.rodape__contate__email::placeholder,
.rodape__contate__mensagem::placeholder {
  color: var(--cor-fonte-primaria);
  opacity: 70%;
}

.rodape__contate__email,
.rodape__contate__mensagem {
  background-color: var(--cor-fonte-terciaria);
  padding: 6px 10px 6px 15px;
}

.rodape__contate__enviar {
  padding: 5px 14px;
  background: var(--cor-fonte-secundaria);
  margin-left: 55%;
  width: 45%;
  cursor: pointer;
}

.rodape__contate__email,
.rodape__contate__mensagem,
.rodape__contate__enviar {
  border: 0 none;
  outline: 0;
  border-radius: 7px;
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-terciaria);
  font-size: 1rem;
}

.rodape__contate__email:hover,
.rodape__contate__mensagem:hover,
.rodape__contate__enviar:hover {
  opacity: 80%;
}
/*=================================*/
